.progress__time {
  display: flex;
  justify-content: space-between;
  font-size: var(--text-small);
  color: var(--color-3);
}

.progress__bar {
  width: 100%;
  margin-top: 5px;
  position: relative;
}

.progress__bar-background {
  width: 100%;
  height: 5px;
  background-color: var(--color-4);
  border-radius: var(--border-radius-1);
}

.progress__bar-track {
  height: 5px;
  position: absolute;
  top: 0;
  background-color: var(--color-1);
  -webkit-box-shadow: 0px 0px 9px 2px rgba(201, 59, 118, 0.41);
  -moz-box-shadow: 0px 0px 9px 2px rgba(201, 59, 118, 0.41);
  box-shadow: 0px 0px 9px 2px rgba(201, 59, 118, 0.41);
  border-radius: var(--border-radius-1);
}

.progress__bar-action {
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  background-color: transparent;
  border-radius: var(--border-radius-1);
}

.controls {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.controls__action {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.controls__action:active {
  scale: 0.95;
}

.play {
  display: none;
  background-color: var(--color-1);
  border-radius: var(--border-circle);
  -webkit-box-shadow: 0px 0px 9px 2px rgba(201, 59, 118, 0.41);
  -moz-box-shadow: 0px 0px 9px 2px rgba(201, 59, 118, 0.41);
  box-shadow: 0px 0px 20px 1px rgba(201, 59, 118, 0.41);
}

.is-active {
  display: flex;
}

.controls__action img {
  width: 100%;
}
